@import './base.css';

#app {
  margin: 0 auto;
  font-weight: normal;
}

.sidebar {
  display: flex;
  height: calc(100vh - 46px);
  overflow: scroll;
}

.sidebar-menu {
  border-right: 1px solid rgb(229, 230, 235);
}

.main {
  width: 100%;
  height: calc(100vh - 46px);
  overflow: scroll;
  background-color: var(--color-fill-1);
}

.page {
  padding: 8px;
  overflow: scroll;
}

.table-op {
  margin-top: 8px;
  margin-bottom: 8px;
  display: flex;
}

.table-op-right {
  display: flex;
  margin-left: auto;
  align-items: center;
}

.form-submit {
  margin-top: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.link {
  padding: 1px 4px;
  color: rgb(var(--link-6));
  text-decoration: none;
  cursor: pointer;
}

.form-item-append-text {
  margin-left: 8px;
}

.xterm {
  padding-top: 4px;
  padding-bottom: 4px;
  padding-right: 4px;
  padding-left: 4px;
}

.detail-header {
  background-color: #fff;
  padding-bottom: 0px !important;
}

.f12 {
  font-size: 12px;
}

.operate-header {
  display: flex;
  height: 40px;
  align-items: center;
  justify-content: space-between;
}

.menu-title {
  font-weight: 600;
}

.failed {
  background-color: rgb(var(--red-2)) !important;
}

.succeeded {
  background-color: rgb(var(--green-2)) !important;
}

.active {
  background-color: rgb(var(--arcoblue-2)) !important;
}

.creating {
  background-color: rgb(var(--arcoblue-2)) !important;
}
