<script setup>
// import { ref } from "vue";

// 定义组件的属性
const pros = defineProps({
  modelValue: {type: Number, default: 0},
})

// 定义组件的事件
const emits = defineEmits(['update:modelValue'])

// const count = ref(pros.countP);
const handleClick = () => {
  // count.value++
  // 抛出countChanged事件: count.value
  emits('update:modelValue', pros.modelValue +1)
}
</script>

<template>
  <button @click="handleClick">You clicked me {{ modelValue }} times.</button>
</template>

<style scoped>
</style>